*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
  transition: 0.3s;
}
:root
{
  --white-clr: #fff;
  --black-clr: #000;
  --orange-clr: #FC7614;
  --medium-gray-clr: #7C8798;
  --dark-blue-clr: #262E38;
  --light-gray-clr: #969FAD;
  --very-darl-blue-clr: #131518;
  --font-weight-700: 700;
  --font-weight-400: 400;
  --font-size-28: 28px;
  --font-size-16: 16px;
  --line-height-24: 24px;
  --letter-spacing-2: 2px;
}
body
{
  background-color: var(--very-darl-blue-clr);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container
{
  background: linear-gradient(to bottom, #232A34, #181E27);
  width: 412px;
  /* height: 416px; */
  padding: 32px;
  border-radius: 25px;
}
button, a
{
  cursor: pointer;
}
.container button
{
  background-color: var(--orange-clr);
  width: 100%;
  height: 46px;
  color: var(--white-clr);
  font-weight: var(--font-weight-700);
  letter-spacing: var(--letter-spacing-2);
  font-size: var(--font-size-16);
  border-radius: 50px;
}
.container button:hover
{
  background-color: var(--white-clr);
  color: var(--orange-clr);
}
.container .star-image
{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--dark-blue-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.container h2
{
  font-size: var(--font-size-28);
  color: var(--white-clr);
  font-weight: var(--font-weight-700);
  margin-bottom: 8px;
}
.container p.text
{
  color: var(--light-gray-clr);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
  margin-bottom: 24px;
}
.container .numbers-container
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.container .numbers-container p
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--medium-gray-clr);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-700);
  background-color: var(--dark-blue-clr);
}